.h-container {
    margin: 0;
    padding: 0;
}

.h-wrapper {
    border: solid 1px;
}

.n-container {
    margin: 0;
    padding: 0;
}

.n-wrapper {
    text-align: center;
}

.n-title {

}

/*cart*/
.c-container {
    margin: 0;
    padding: 0;
    border: solid 1px black;
}

.c-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.c-item-list {
    width: 60%;
}

/* list item*/
.l-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.l-wrapper {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
    align-items: center;
    width: 100%;
}

.l-amountBoxStyle {
    width: 2em;
    height: 2em;
}

.l-ingredientFont {
    width: 100%;
    font-size: 24px;
}

.l-delete {
    border: solid 10px black;
    transition: 0.2s ease;
}

.l-delete:hover {
    border: solid 10px red;
    transition: 0.2s ease;
}